@charset "UTF-8";
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-table {
  border-collapse: collapse;
}

.board-table .label {
  background: #0A82FF;
  width: 70px;
}

.board-table .file-label {
  background: skyblue;
  width: 70px;
}

.board-table .input-field {
  text-align: left;
}

.board-table tr td {
	border: 1px solid black;
}