<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="MemberDAO">

	<!-- 쿼리 작성 영역 -->
	
	<select id="selectMemberById" parameterType="string" resultType="int">
		SELECT COUNT(MEMBER_ID)
			FROM TB_MEMBER
			WHERE MEMBER_ID = #{memberId}
	</select>
	
	<insert id="insertMember" parameterType="member">
	<![CDATA[
		INSERT INTO TB_MEMBER(
			MEMBER_ID,
			MEMBER_PW,
			MEMBER_NM,
			MEMBER_TEL,
			MEMBER_MAIL,
			MEMBER_REGDATE
		) VALUES (
			#{memberId},
			#{memberPw},
			#{memberNm},
			#{memberTel},
			#{memberMail},
			NOW()
		)
	]]>
	</insert>
	
	<select id="login" parameterType="member" resultType="member">
	<![CDATA[
		SELECT MEMBER_ID
			 , MEMBER_NM
			 , MEMBER_TEL
			 , MEMBER_MAIL
			 , MEMBER_ROLE
			FROM TB_MEMBER
			WHERE MEMBER_ID = #{memberId}
			  AND MEMBER_PW = #{memberPw}
	]]>
	</select>
	
	
	<update id="updateMember" parameterType="member">
   	<![CDATA[
   		UPDATE TB_MEMBER
   		SET    		  		
			MEMBER_PW = #{memberPw},
			MEMBER_TEL = #{memberTel},
			MEMBER_MAIL = #{memberMail}			
	    WHERE 
	      	MEMBER_ID = #{memberId}
   	]]>
	</update>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>